body{
    display: grid;
    place-items: center;
    background-color: lightgoldenrodyellow;
    
}
h1{
    margin-top: 0;
    font-family: cursive;
    font-weight: bold;
    font-size: 50px;
}
.input{
    margin-top: 30px;
    margin-left: 18px;
    text-align: right;
    font-size: 2.50rem;
}

.btn{
    background-color: black; /* Green */
    border: 4px 4px 4px 4px;
    border-width: 15px;
    border-color: lightgray;
    color: white;
    padding: 17px 34px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.rows{
    margin: 4px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin: auto;
    padding: 10px;
}

.outer{
    background-color: aliceblue;
    border: 3px solid;
}

